    /*HEADER*/
body {
    background-color: #EFEDE7;}

.header_gral {
    background-image: url(./media/celular.png);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 475px;}

.logo {
    height: 30%;
    margin-top: 10%;}

.titulo_header {
    font-family: special elite;
    font-size: 15px;
    font-weight: bold;}

.subtitulo_header {
    font-family: caveat;
    font-size:x-large;}

    /*CARROUSEL*/
.carrousel_gral {
    height: 50px;}

    /*OPCIONES*/

.container_opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

.img_opciones {
    width:30%;}

.text_opciones {
    font-family: special elite;
    font-size:15px;
    font-weight: bold;
    text-align: center;
    width: 55%;}

    /*DESCRIPCION*/

.cont_descrip {
    text-align: center;
    height: 400px;
    background-color: white;}

.descrip_1 {
    justify-content:center;}


.text_descrip {
    font-family: special elite;
    font-size:22px;
    font-weight: bold;
    text-align: center;
    width: 80%;}

.img_descrip{
    height: 100%;}

.img_descrip_icon {
    height: 100%;}

.boton_modal {
    border: none;
    width:30%;
    height: 20%;
    background-color:transparent;}

.boton_modal_color {
    background-color: lightpink;
    border: none;}


    /*DISEÑOS*/

.diseno_gral{
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.disenos_cont {
    height: 95%;
    width: 70%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size:cover;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;}

.card-title {
    font-family: caveat;
    font-size: xx-large;}

.dis_1 {
    background-image: url(./media/cas.png);}

.dis_2 {
    background-image: url(./media/quin.png);}

.dis_3 {
    background-image: url(./media/gradu2.png);}

    .disenos_cont:hover{
        filter: grayscale(95%);
        transition: 2s;
        height: 100%;
        width: 100%;}



    /*PRECIO*/
.titulo_precio {
    height: 90px;
    margin-top: 20px;}
    
.titulo_precio p {
    font-family: caveat;
    font-size: xx-large;}

.cont_precio {
    height: 270px;
    width: 190px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 5px 10px grey;}

.base {
    background-color: gainsboro;}

.combo {
    background-color: lightseagreen;}

.cont_precio p {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: special elite;}


    /*FOOTER*/

.section_footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

.sec_foot {
    font-size: x-small;
    text-align: start;
    padding-top: 20px;}

.logo_footer{
    height:95px;}

.icon_footer {
    height: 30px;}
    
    .mail_footer:link {
        text-decoration: none;
        color: black;}
    .mail_footer:visited {
        text-decoration: none;
        color: black;}
    .section_footer a:link {
        text-decoration: none;
        color: black;}
    .section_footer a:visited {
        text-decoration: none;
        color: black;}
    
 
    /*MEDIA QUERY*/
@media (min-width:768px) and (max-width:1024px) { 
        .text_descrip{
            width: 90%;}}
    
@media (min-width:1024px) {
        .cont_descrip {
            height:450px;}
        .text_descrip {
           margin-top:55px;}}

@media (min-width:768px) {
    .descrip_1 {
        justify-content: center;}
    .card_propio {
        width: 100%;}
    .sec_foot {
        padding-top: 20px;}
    .diseno_gral{
        flex-direction: row;
        height: 300px;}
    .disenos_cont {
        height: 95%;
        width: 30%;}
        .disenos_cont:hover{
            height: 100%;
            width: 32%;
        }}




/*QUIENES SOMOS?*/

.tabla_empresa {
    background-color: bisque;
    height: 300px;
    border: solid 2px cornflowerblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;}

.tit_tabla {
    background-color: lightpink;
    text-align: center;
    font-size: x-large;
    height: 80px;}

.nombres_tabla, .sector_empresa {
    padding-left: 20px;
    padding-right: 20px;}



    /*EJEMPLO1*/

    .header_principal {
        background-image:url(./media/portadacasamientocelu.png) ;
        background-position: center;
        background-size:100%;
        background-repeat: no-repeat;
        height: 475px;
    background-color: aqua;}

    .nuestra_boda {
        font-weight: bolder;
        color: white;    }

    .nombres_novios {
        font-family: parisienne;
        font-size: 65px;
        font-weight: bolder;
        color: white;}

    .container_frase {
        background-color: white;}

    .frase {
        font-family: cookie;
        font-size: 30px;
        margin-top: 30px;}

    .autor {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 30px;
        font-size: x-large;}

    .ceremonia_clara {
        height: 450px;}
    .ceremonia {
        font-size: large;}

    .text_ceremonia {
        font-family: cookie;
        font-size: x-large;}

    .ceremonia_oscura {
        background-color: #637b89;
        color: white;
        height: 450px;}

    .spotify_gral {
        background-image: url(./media/fondo_spotifi.png);
    }
    .te_recomendamos {
        font-size: xx-large;
        margin-top: 30px;}

    .nuestra_playlist {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 50px;
        font-family: cookie;
    }
    